<ion-content class="screen-bg">
  <ion-row class="row-height-10">
    <ion-col>
      <ion-item class="background-transparent height-56 margin-auto screen-bg" no-lines>
        <ion-row>
          <ion-col col-1>
            <ion-icon class="text-white" item-right name="ios-close-outline" (click)="closeModal()"></ion-icon>
          </ion-col>
          <ion-col col-5>
            <h5 class="text-white">Life style</h5>
            <p class="text-white">5 questions left</p>
          </ion-col>
          <ion-col col-3>
            <button type="submit" float-left ion-button clear class="btnPrev text-white" (click)="prev()">Prev</button>
          </ion-col>
          <ion-col col-3>
            <button *ngIf="!showsave" type="submit" float-right ion-button clear class="btnNext text-white" (click)="next()">Next</button>
            <button *ngIf="showsave" type="submit" float-right ion-button clear class="btnNext text-white" (click)="save()">Save</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="row-height-80">
    <ion-col>
      <ion-slides #slides #slides (ionSlideDidChange)="slideChanged()">

        <ion-slide>
          <ion-row>
            <ion-col col-4>
              <button ion-button [color]="smokingbtn.one" (click)="smoking('I do not smoke',1)">I don't smoke</button>
            </ion-col>
            <ion-col col-8>
              <button ion-button [color]="smokingbtn.two" (click)="smoking('I used to,but i have quit',2)">I used to,but i've quit</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              <button ion-button [color]="smokingbtn.three" (click)="smoking('1-2/day',3)">1-2/day</button>
            </ion-col>
            <ion-col col-4>
              <button ion-button [color]="smokingbtn.four" (click)="smoking('3-5/day',4)">3-5/day</button>
            </ion-col>
            <ion-col col-4>
              <button ion-button [color]="smokingbtn.five" (click)="smoking('5-10/day',5)">5-10/day</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4></ion-col>
            <ion-col col-4>
              <button ion-button [color]="smokingbtn.six" (click)="smoking('10/day')">10/day</button>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <h3 class="text-white">How frequently do you consume alcohol?</h3>
          <ion-row>
            <ion-col col-4>
              <button [color]="alcoholbtn.one" ion-button (click)="alcohol('Non-drinker',1)">Non-drinker</button>
            </ion-col>
            <ion-col col-4>
              <button [color]="alcoholbtn.two" ion-button (click)="alcohol('rare',2)">Rare</button>
            </ion-col>
            <ion-col col-4>
              <button [color]="alcoholbtn.three" ion-button (click)="alcohol('social',3)">Social</button>
            </ion-col>
          </ion-row>
          <ion-col col-4>
            <button [color]="alcoholbtn.four" ion-button (click)="alcohol('Regular',4)">Regular </button>
          </ion-col>
          <ion-col col-4>
            <button [color]="alcoholbtn.five" ion-button (click)="alcohol('Heavy',5)">Heavy </button>
          </ion-col>
        </ion-slide>

        <ion-slide>
          <h3 class="text-white">How active is your lifestyle?</h3>
          <ion-row>
            <ion-col col-3></ion-col>
            <ion-col col-4>
              <button ion-button [color]="lifestylebtn.one" (click)="lifeStyle('Sedentary(low)',1)">Sedentary(low)</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-6>
              <button ion-button [color]="lifestylebtn.two" (click)="lifeStyle('Moderately active(normal)',2)">Moderately active(normal)</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              <button ion-button [color]="lifestylebtn.three" (click)="lifeStyle('Active(high)',3)">Active(high)</button>
            </ion-col>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <ion-col col-6>
              <button ion-button [color]="lifestylebtn.four" (click)="lifeStyle('Athletic (very high)',4)">Athletic (very high)</button>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <h3 class="text-white margin-top">What does your diet mainly consist of?</h3>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-4>
              <button ion-button [color]="dietbtn.one" (click)="consist('vegitarion',1)">vegitarion</button>
            </ion-col>
            <ion-col col-6>
              <button ion-button [color]="dietbtn.two" (click)="consist('Non-vegitarion',2)">Non-vegitarion</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-4>
              <button ion-button [color]="dietbtn.three" (click)="consist('Eggetarien',3)">Eggetarien</button>
            </ion-col>
            <ion-col col-4>
              <button ion-button [color]="dietbtn.four" (click)="consist('vegan',4)">vegan</button>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <h3 class="text-white margin-top">What is your profission?</h3>
          <ion-row>
            <ion-col col-5>
              <button ion-button [color]="professionbtn.one" (click)="profission('IT Professional',1)">IT Professional</button>
            </ion-col>
            <ion-col col-7>
              <button ion-button [color]="professionbtn.two" (click)="profission('Medical Professional',2)">Medical Professional</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <button ion-button [color]="professionbtn.three" (click)="profission('Banking Professional',3)">Banking Professional</button>
            </ion-col>
            <ion-col col-6>
              <button ion-button [color]="professionbtn.four" (click)="profission('Education',4)">Education</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              <button ion-button [color]="professionbtn.five" (click)="profission('Student',5)">Student</button>
            </ion-col>
            <ion-col col-4>
              <button ion-button [color]="professionbtn.six" (click)="profission('Home-maker',6)">Home-maker</button>
            </ion-col>
            <ion-col col-4>
              <button ion-button [color]="professionbtn.seven" (click)="profission('Other',7)">Other</button>
            </ion-col>
          </ion-row>
        </ion-slide>

      </ion-slides>
    </ion-col>
  </ion-row>

  <ion-row class="row-height-10">
  </ion-row>
</ion-content>