page-doctorsdetails {
    .slider-pagination{
        background: #ffffff !important;
    }

    .height-225 {
        height: 225px !important;
    }
    .doctorimage{
        background-image: url('../assets/img/doctorlogo.jpg');
    }

    .image-bottem{
        margin-top: 118px !important;
    }
    #my-map{
        height:200px;
    }

    .border-radius{
    
        border-radius: 44px !important;
    }
    .margin{
        margin: -14px 25px 2px 23px !important;
    }

    .font-17{
        font-size: 17px !important;
    }

    .backgroung-color{
        background-color: lightgray !important;
    }
}
