page-doctorsdetails {
    .slider-pagination{
        background: #ffffff !important;
    }

    .height-225 {
        height: 225px !important;
    }
    .doctorimage{
        background-image: url('../assets/img/doctorlogo.jpg');
    }
}
