<ion-content class="screen-bg">
    <ion-row class="row-height-10">
        <ion-col>
            <ion-item class="background-transparent height-56 margin-auto screen-bg" no-lines>
                <ion-row>
                    <ion-col col-1>
                        <ion-icon class="text-white" item-right name="ios-close-outline" (click)="closeModal()"></ion-icon>
                    </ion-col>
                    <ion-col col-5>
                        <h5 class="text-white">Medical</h5>
                    </ion-col>
                    <ion-col col-3>
                        <button type="submit" float-left ion-button clear class="btnPrev text-white" (click)="prev()">Prev</button>
                    </ion-col>
                    <ion-col col-3>
                        <button *ngIf="!showsave" type="submit" float-right ion-button clear class="btnNext text-white" (click)="next()">Next</button>
                        <button *ngIf="showsave" type="submit" float-right ion-button clear class="btnNext text-white" (click)="save()">Save</button>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row class="row-height-80">
        <ion-col>
            <ion-slides #slides (ionSlideDidChange)="medslideChanged()">

                <ion-slide justify-content-center align-items-center style="height: 100%">
                    <h3 class="text-white">Do you have any chronic illnesses?</h3>
                    <ion-row justify-content-center align-items-center>
                        <ion-col col-2></ion-col>
                        <ion-col col-4>
                            <button ion-button [color]="illnessbtn.yes" (click)="illness('yes')">yes</button>
                        </ion-col>
                        <ion-col col-4>
                            <button ion-button [color]="illnessbtn.no" (click)="illness('No')">No</button>
                        </ion-col>
                    </ion-row>
                </ion-slide>

                <ion-slide>
                    <h3 class="text-white">Have you had any injuries in the past?</h3>
                    <ion-row>
                        <ion-col col-2></ion-col>
                        <ion-col col-4>
                            <button ion-button [color]="injuriesbtn.yes" (click)="injuries('yes')">yes</button>
                        </ion-col>
                        <ion-col col-4>
                            <button ion-button [color]="injuriesbtn.no" (click)="injuries('No')">No</button>
                        </ion-col>
                    </ion-row>
                </ion-slide>

                <ion-slide>
                    <h3 class="text-white">Are you allergic to anything?</h3>
                    <ion-row>
                        <ion-col col-2></ion-col>
                        <ion-col col-4>
                            <button ion-button [color]="allergiesbtn.yes" (click)="allergic('yes')">Yes</button>
                        </ion-col>
                        <ion-col col-4>
                            <button ion-button [color]="allergiesbtn.no" (click)="allergic('No')">No</button>
                        </ion-col>
                    </ion-row>
                </ion-slide>

                <ion-slide>
                    <h3 class="text-white margin-top">Any past surgeries?</h3>
                    <ion-row>
                        <ion-col col-2></ion-col>
                        <ion-col col-4>
                            <button ion-button [color]="surgeriesbtn.yes" (click)="surgeries('yes')">Yes</button>
                        </ion-col>
                        <ion-col col-4>
                            <button ion-button [color]="surgeriesbtn.no" (click)="surgeries('No')">No</button>
                        </ion-col>
                    </ion-row>
                </ion-slide>

                <ion-slide>
                    <h3 class="text-white margin-top">Are you talking any medicines at the moment?</h3>
                    <ion-row>
                        <ion-col col-2></ion-col>
                        <ion-col col-4>
                            <button ion-button [color]="current_medicationbtn.yes" (click)="medicines('Yes')">Yes</button>
                        </ion-col>
                        <ion-col col-4>
                            <button ion-button [color]="current_medicationbtn.no" (click)="medicines('No')">No</button>
                        </ion-col>
                    </ion-row>
                </ion-slide>

                <ion-slide>
                    <h3 class="text-white margin-top">Have you been on any medications in the past?</h3>
                    <ion-row>
                        <ion-col col-2></ion-col>
                        <ion-col col-4>
                            <button ion-button [color]="past_medicationbtn.yes" (click)="medications('Yes')">Yes</button>
                        </ion-col>
                        <ion-col col-4>
                            <button ion-button [color]="past_medicationbtn.no" (click)="medications('No')">No</button>
                        </ion-col>
                    </ion-row>
                </ion-slide>

            </ion-slides>
        </ion-col>
    </ion-row>

    <ion-row class="row-height-10">
    </ion-row>
</ion-content>