page-enter-patient-details {
    .img-redius{
        border-radius: 62px !important;
        width: 86px !important;
        height: 72px !important;
    
        }
    
        .text-align{
            margin-top: 0px !important;
            margin-bottom: 0px !important; 
        }
    
        .padding-0{
            padding: 0px 0px 0px 0px !important;
        }
        .padding-12{
           padding: 12px 5px 5px 5px !important;
        }
    
        .margin-0{
    
            margin: 0px 0px 0px 0px !important;
        }
    
        .marginleft-15{
          margin:0px 0px 0px 14px !important;
        }
    
        .margintop-8{
            margin:8px 3px 9px 0px !important;
          }
        .margin-14{
            margin:14px 0px 0px 14px !important;
        }
        .margin-note{
            margin:29px 14px 0px 14px
        }
        .fontsize-1{
            font-size: 1.6em !important;
        }
        .icon-color{
            color: steelblue !important;
        }

        #my-map{
            height:200px;
        }

}
