page-generatetoken {
    .background {
        background-color: #9900ff;
      }


      .thumbsup-image {
        max-height: 40%;
        max-width: 24%;
        margin: 114px 118px;
    
      }
     
      .margin-content{
        margin: -39px 46px 0px 60px;
      }
      .margin-succ{
        margin: 7px 46px 0px 109px;
      }
      .margin-p1{
        margin: 7px 46px 0px 56px;
      }
      .margin-p2{
        margin: 7px 46px 0px 109px;
      }
}
