<!--
  Generated template for the ListofdoctorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="main">
    <ion-buttons item-start>
      <button ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title>listofdoctors</ion-title> -->
  </ion-navbar>

</ion-header>
<ion-content style="background-color: lightgray">
  <!-- Horizontal Scroll for list of Clinics and Hospitals -->
  <ion-scroll scrollX="true" style="white-space:nowrap;height:210px;">
    <ion-row>
      <ion-col>
        <!-- <ion-card (click)="navdoctorsdetails()"> -->
        <ion-card *ngFor="let clinic of clinics" (click)="clinicdetails(clinic)">
          <ion-row>
            <ion-col col-3>
              <ion-avatar height="30" weight="30">
                <!-- <img [src]="clinic.cli_img" /> -->
                <img src="../assets/img/bala.jpg"/>
              </ion-avatar>
              <button ion-button small full color="secondary">
                <ion-icon name="thumbs-up"></ion-icon>
                <p class="text-white">&nbsp;&nbsp;{{clinic.cli_like}}</p>
              </button>
              <p text-center class="font-12">{{clinic.cli_votes}} votes</p>
              <p class="margin-top-15">{{clinic.area}}</p>
              <p class="text-color-gold">{{clinic.cli_sponser}}</p>
            </ion-col>
            <ion-col col-9>
              <h2>
                <b>{{clinic.business_name}}</b>
              </h2>
              <div class="card-subtitle">{{clinic.cli_doc_count}} Doctor</div>
              <ion-row>
                <ion-col>
                  <div class="card-subtitle">&#x20b9; {{clinic.fees}} onwards</div>
                </ion-col>
                <ion-col>
                  <div class="card-subtitle">{{clinic.cli_feedback}} Feedback</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <!-- <img class="img-50hw" [src]="clinic.cli_subimages1" /> -->
                  <img class="img-50hw" src="../assets/img/bala.jpg" />

                </ion-col>
                <ion-col>
                  <!-- <img class="img-50hw" [src]="clinic.cli_subimages2" /> -->
                  <img class="img-50hw" src="../assets/img/bala.jpg" />

                </ion-col>
                <ion-col>
                  <!-- <img class="img-50hw" [src]="clinic.cli_subimages3" /> -->
                  <img class="img-50hw" src="../assets/img/bala.jpg" />

                </ion-col>
                <ion-col col-4>

                </ion-col>
              </ion-row>
              <ion-row class="margin-top-15">
                <ion-col col-2>
                </ion-col>
                <ion-col col-8>
                  <button ion-button class="small-case global-font" color="violetlight">Book Appointment</button>
                </ion-col>
                <ion-col col-2>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3>

            </ion-col>
            <ion-col col-2>
            </ion-col>
            <ion-col col-7>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-scroll>
  <!-- Benefits for the Prime User for our App -->
  <ion-row>
    <!-- <ion-col col-10>
      <h6 class="margin-left-20"> Results offering
        <span class="text-color-purple">Prime</span> benefits</h6>
    </ion-col> -->
    <!-- <ion-col col-2 class="custom-icon-align">
      <ion-icon name="information-circle"></ion-icon>
    </ion-col> -->
  </ion-row>
  <br>
  <!-- Vertical Scroll for the list of Doctors -->
  <!-- Doctor 1 -->
  <ion-row>
    <ion-col class="doctor-list-padding">
      <ion-card class="doctor-list-card" *ngFor="let doctor of doctors" (click)="navdoctorsdetails(doctor)">
        <ion-row>
          <ion-col>
            <!-- 1st row -->
            <ion-row class="doctor-list-row">
                <ion-col col-3>
                  <ion-avatar class="margin-top-5" height="30" weight="30">
                    <!-- <img class="border-50" [src]="doctor.doc_img" /> -->
                    <img class="border-50" src="../assets/img/bala.jpg" />

                  </ion-avatar>
                  <button ion-button small full color="secondary" class="doctor-card-percen">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <p class="text-white">&nbsp;&nbsp;{{doctor.doc_likes}}</p>
                  </button>
                  <p text-center class="font-12">{{doctor.doc_votes}} votes</p>
                </ion-col>
                <ion-col col-9>
                  <h2 class="margin-top-5">
                    <b>{{doctor.doctor_name}}</b>
                  </h2>
                  <div class="card-subtitle margin-top-5">{{doctor.qualification}}</div>
                  <div class="card-subtitle margin-top-5">{{doctor.specialist}}</div>
                  <div class="card-subtitle margin-top-5">{{doctor.experience}} years of experience</div>
                  <div class="card-subtitle margin-top-5">{{doctor.doc_feedback}} Feedback</div>
                  <div class="card-subtitle margin-top-5">&#x20b9; {{doctor.consultationfees}}</div>
                  <div class="card-subtitle margin-top-5 font-12">Available on {{doctor.doc_available_date}} <b>at {{doctor.doc_available_location}}</b></div>
                  <div class="card-subtitle margin-top-5"><b>{{doctor.doc_hospital}}</b></div>
                </ion-col>
              </ion-row>
            <!-- 2nd row -->
              <ion-row class="text-center">
                  <!-- <p class="text-color-purple margin-left-30"> Prime <ion-icon name="ribbon"></ion-icon>&#8226; Max 30 mins wait + verified details</p> -->
                </ion-row>
                <!-- 3rd row -->
                <ion-row>
                    <ion-col col-6>
                        <button ion-button outline color="primary" class="small-case full-width">View Profile</button>
                    </ion-col>
                    <ion-col col-6>
                        <button ion-button color="primary" class="small-case full-width">Book Appointment</button>
                    </ion-col>
                  </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>