page-listofdoctors {
    .slide-size{
        height: 226px !important;
    }
    ion-card{
        margin:0px !important;
        display: -webkit-inline-box;
        height: 200px;
      }
      .img-50hw{
        height: 50px;
        width: 50px;
      }
      .custom-icon-align{
        font-size: 20px;
        text-align: center;
        top: 12px;
      }
      .doctor-list-padding{
          padding: 0px !important;
      }
      .doctor-list-card{
        height: 250px;
          width: 100% !important;
      }
      .doctor-card-percen{
          margin-top:-10px !important;
      }
      .doctor-list-row{
        height: 170px;
      }

}
