// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.full-width{
    width:100% !important;
}

.screen-bg{
    background-color: #303F9F;
}

.text-white {
    color:white !important;
}
.margin-top-100{
    margin-top:100px !important;
}
.margin-top-150{
    margin-top:150px !important;
}
.position-center{
    position: relative;
    text-align: center;
}
.z-index-1{
    z-index: 1;
}
.z-index-2{
    z-index: 2;
}
// .splash-info {
//     position: relative;
//     z-index: 2;
//     margin-top: 100px;
//     color: white;
//     font-size: 30px;
//     font-weight: 600;
//     // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     text-align: center;
//   }
.global-font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.weight-500{
    font-weight: 500;
}
.weight-600{
    font-weight: 600;
}
.weight-700{
    font-weight: 700;
}
.weight-800{
    font-weight: 800;
}
.weight-900{
    font-weight: 900;
}
.font-30{
    font-size:30px;
} 
.font-12{
    font-size: 12px;
}

.font-14{
    font-size: 14px;
}

.font-16{
    font-size: 16px;
}

.font-18{
    font-size: 18px;
}

.align-bottom{
    position: absolute;
    bottom:0 !important;
}