// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//invisible scroll
* ::-webkit-scrollbar{
    display: none;
}
.border-round{
    border-radius: 50%;
}
.height-25{
    height: 25px !important;
}
.height-37{
    height: 37% !important;
}
.height-56{
    height: 56px !important;
}
.background-transparent{
    background-color: transparent !important;
}
.small-case{
    text-transform: none;
}
.full-width{
    width:100% !important;
}
.screen-bg{
    background-color: #303F9F;
}
.margin-auto{
    margin: auto;
}
.margin-top-5{
    margin-top: 5px !important;
}
.margin-top-10{
    margin-top:-28px  !important;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-left-20{
    margin-left: 20px;
}
.margin-left-30{
    margin-left:30px !important;
}
.margin-left-40{
    margin-left:40px !important;
}
.margin-5{
    margin:5px !important;
}
.margin-top-15{
    margin-top: 15px !important;
}
.margin-top-100{
    margin-top:100px !important;
}
.margin-top-150{
    margin-top:150px !important;
}
.margin-top-50{
    margin-top:50px !important;
}
.align-center{
    align-items: center;
}
.position-center{
    position: relative;
    text-align: center;
}
.z-index-1{
    z-index: 1;
}
.z-index-2{
    z-index: 2;
}
// .splash-info {
//     position: relative;
//     z-index: 2;
//     margin-top: 100px;
//     color: white;
//     font-size: 30px;
//     font-weight: 600;
//     // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     text-align: center;
//   }
.global-font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ion-app.md {
    font-family: "Roboto", "Helvetica Neue", sans-serif !important;
    font-size: 1.2rem !important;
}
.weight-100{
    font-weight: 100;
}
.weight-500{
    font-weight: 500;
}
.weight-600{
    font-weight: 600;
}
.weight-700{
    font-weight: 700;
}
.weight-800{
    font-weight: 800;
}
.weight-900{
    font-weight: 900;
}
.font-8{
    font-size: 8px;
}
.font-10{
    font-size: 10px;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-24{
    font-size: 24px;
}
.font-28{
    font-size: 28px;
}
.font-30{
    font-size:30px;
} 
.align-bottom{
    position: absolute;
    bottom:0 !important;
}
.text-center{
    text-align: center !important;
}
.width{
    width: 100% !important;
}
.col-140{
    height:140px !important;
}
.text-color-gold{
    color:goldenrod !important;
}
.text-color-purple{
    color:#ab00ab !important;
}
.text-white {
    color:white !important;
}
.text-color-naviblue {
    color:#06b9ee !important;
}

.border-50{
border-radius:50% !important;
}
.margin-left{
    margin-left: -9px !important;
}
.padding-10{
    padding:10px !important;
}
.navbar-height{
    height:56px;
}
// Feedback Starts
.minheight-0{
    min-height: 0px !important;
}
.padding-0{
    padding:0px !important;
}
.margin-bottom-0{
    margin-bottom: 0px !important;
}
.font-14{
    font-size: 14px !important;
}
.padding-left-0{
    padding-left: 0px !important;
}
.height-0{
    height: 0px !important;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px
}
.font-26{
    font-size:26px !important;
}
.border-2{
    border: 1px solid gray !important;
}
// Feedback Ends
