page-welcome {
  // .scroll-content{
  //   align-content: center;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   text-align: center;
  // }
    .icon{
      padding-right: 10px;
    }

  $transparent-white: rgba(255, 255, 255, .6);
  .splash-bg {
    position: relative;
    // background: url('../assets/img/splashbg.png') no-repeat transparent;
    background-color: #303F9F;
    background-size: cover;
    height: 100%;
    z-index: 1;
    // background-repeat: repeat-x;
    // animation: animatedBackground 40s linear infinite;
  }

  // @keyframes animatedBackground {
  //   from { background-position: 0 0; }
  //   to { background-position: 100% 0; }
  // }
  .action-sheets-basic-page{
    font-size: 8px;
  }
  .font-size-12.span{
    font-size: 40px;
  }
  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: 150px;
    color: white;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  .login_action{
    margin-top: 80px;
  }
  .login_trouble{
    text-align: center;
    font-size: 12px;
    color: white;
  }
  // .bottom{
  //   position: absolute;
  //   bottom: 0;
  // }
  .mobile_btn{
   width: 100%;
  }
  button.login {
    margin-top: 25px;
    color:white;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }
  //strike - start
  span {
    color: white;
  }
  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }
  .strike>span {
    position: relative;
    display: inline-block;
    font-weight: bold;
  }
  .strike>span:before,
  .strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: $transparent-white;
  }
  .strike>span:before {
    right: 100%;
    margin-right: 15px;
  }
  .strike>span:after {
    left: 100%;
    margin-left: 15px;
  }
  //strike - end
}
