page-appointmentdetails {
    .margin-110{
        margin: 110px !important;
    }
    .text-color{
        color:#9932CC !important;
    }
    .border{
        border-right: 1px solid gray;
    }
    #my-map{
        height:200px;
    }
}
