<ion-content class="screen-bg">
  <ion-row class="row-height-10">
    <ion-col>
      <ion-item class="background-transparent height-56 margin-auto screen-bg" no-lines>
        <ion-row>
          <ion-col col-1>
            <ion-icon class="text-white" item-right name="ios-close-outline" (click)="closeModal()"></ion-icon>
          </ion-col>
          <ion-col col-5>
            <h5 class="text-white">Personal</h5>
          </ion-col>
          <ion-col col-3>
            <button type="submit" float-left ion-button clear class="btnPrev text-white" (click)="prev()">Prev</button>
          </ion-col>
          <ion-col col-3>
            <button *ngIf="!showsave" type="submit" float-right ion-button clear class="btnNext text-white" (click)="next()">Next</button>
            <button *ngIf="showsave" type="submit" float-right ion-button clear class="btnNext text-white" (click)="save(personaldetails)">Save</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="row-height-80">
    <ion-col>
      <ion-slides #slides (ionSlideDidChange)="slideChanged()">

        <ion-slide>
          <h3 class="text-white">What is your name?</h3>
          <ion-item class="background-transparent">
            <ion-input class="text-white" placeholder="Username" type="text" [(ngModel)]="personaldetails.user_name"></ion-input>
          </ion-item>
        </ion-slide>

        <ion-slide>
          <h3 class="text-white">What is your Mobilenumber?</h3>
          <ion-item class="background-transparent">
            <ion-label class="text-white">MobileNumber</ion-label>
            <ion-input required type="number" [(ngModel)]="personaldetails.mobile"></ion-input>
          </ion-item>
        </ion-slide>

        <ion-slide>
          <h3 class="text-white">Which genger do you identity with?</h3>
          <ion-row>
            <ion-col col-4>
              <button [color]="genderstatus.male" ion-button block (click)="gender('male')">Male</button>
            </ion-col>
            <ion-col col-4>
              <button [color]="genderstatus.female" ion-button block (click)="gender('female')">Female </button>
            </ion-col>
            <ion-col col-4>
              <button [color]="genderstatus.others" ion-button block (click)="gender('others')">Others</button>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <h3 class="text-white margin-top">What is your email id?</h3>
          <form [formGroup]="personalform">
            <ion-item class="background-transparent">
              <ion-input class="text-white" formControlName="email" placeholder="Enter Email id" type="text" [(ngModel)]="personaldetails.email"
                required>
              </ion-input>
            </ion-item>
            <p class="text-white" style="font-size: 10px" *ngIf="email.hasError('required') && email.touched && email.hasError('pattern')">*Enter Valid Email</p>
          </form>
        </ion-slide>

        <ion-slide>
          <h3 class="text-white margin-top">What is your birthday?</h3>
          <ion-item class="background-transparent">
            <ion-label class="text-white">Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" class="text-white" [(ngModel)]="personaldetails.birthday"></ion-datetime>
          </ion-item>
        </ion-slide>

        <ion-slide>
          <h3 class="text-white margin-top">What is your blood group?</h3>
          <ion-col>
            <ion-row>
              <ion-col col-1></ion-col>
              <ion-col col-2>
                <button class="btn" ion-button [color]="selectedA1" (click)="blood('A+')">A+</button>
              </ion-col>
              <ion-col col-2>
                <button class="btn" ion-button [color]="selectedA2" (click)="blood('A-')">A-</button>
              </ion-col>
              <ion-col col-2>
                <button class="btn" ion-button [color]="selectedB1" (click)="blood('B+')">B+</button>
              </ion-col>
              <ion-col col-2>
                <button class="btn" ion-button [color]="selectedB2" (click)="blood('B-')">B-</button>
              </ion-col>
              <ion-col col-2>
                <button class="btn" ion-button [color]="selectedO1" (click)="blood('O+')">O+</button>
              </ion-col>
              <ion-col col-1></ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-3></ion-col>
              <ion-col col-2>
                <button class="btn" ion-button [color]="selectedO2" (click)="blood('O-')">O-</button>
              </ion-col>
              <ion-col col-2>
                <button class="btn" ion-button [color]="selectedAB1" (click)="blood('AB+')">AB+</button>
              </ion-col>
              &nbsp;&nbsp;
              <ion-col col-2>
                <button class="btn" ion-button [color]="selectedAB2" (click)="blood('AB-')">AB-</button>
              </ion-col>
              <ion-col col-2></ion-col>
            </ion-row>
          </ion-col>
        </ion-slide>

        <ion-slide>
          <h3 class="text-white margin-top">Are you married?</h3>
          <ion-col>
            <ion-row>
              <ion-col col-6>
                <button ion-button [color]="martialstatus.single" (click)="married('single')">Single</button>
              </ion-col>
              <ion-col col-6>
                <button ion-button [color]="martialstatus.married" (click)="married('married')">Married </button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-slide>

        <ion-slide>
          <h3 class="text-white margin-top">What is your height?</h3>
          <ion-row>
            <ion-item class="background-transparent">
              <ion-input class="text-white" placeholder="feet" type="number" [(ngModel)]="personaldetails.feet"></ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item class="background-transparent">
              <ion-input class="text-white" placeholder="inches" type="number" [(ngModel)]="personaldetails.inches"></ion-input>
            </ion-item>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <h3 class="text-white margin-top">how much do you weight?</h3>
          <h3 float-center class="text-white">(in Kgs)</h3>
          <ion-item class="background-transparent">
            <ion-input class="text-white" placeholder="Kg" type="number" [(ngModel)]="personaldetails.weight"></ion-input>
          </ion-item>
        </ion-slide>

        <ion-slide>
          <h3 class="text-white margin-top ">Who is your emergency contact?</h3>
          <ion-list inset class="margin-top-150 background-transparent text-white">
            <ion-item class="background-transparent">
              <ion-label class="text-white margin-left">Select Country</ion-label>
              <ion-select interface="action-sheet" [selectOptions]="selectOptions" [(ngModel)]="personaldetails.country">
                <ion-option *ngFor="let country of countryList" value="{{country.countryname}}">{{country.countryname}}</ion-option>
              </ion-select>
            </ion-item>

            <ion-item class="full-width background-transparent" style=" margin-left: 14px;">
              <ion-input required type="number" class="text-white border-bottom" placeholder="Mobile Number" [(ngModel)]="personaldetails.emergency_contact_mobile"></ion-input>
            </ion-item>
          </ion-list>
        </ion-slide>

      </ion-slides>

    </ion-col>
  </ion-row>
  <ion-row class="row-height-10">

  </ion-row>
</ion-content>